*.swp
analyzer/moc/
analyzer/obj/
bin/
dnsrecognizer/moc/
dnsrecognizer/obj/
httprecognizer/moc/
httprecognizer/obj/
sniffer/moc/
sniffer/obj/

Makefile
Makefile.Debug
Makefile.Release

ui_*.h
qrc_*.cpp
